body {
    font-family: Arial, sans-serif; 
    background-color: #f0f0f0; 
    margin: 0; 
    padding: 0; 
}

.container {
    max-width: 800px; 
    margin: 50px auto; 
    padding: 30px; 
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}

h1 {
    font-size: 36px; 
    color: #333333; 
    margin-top: 0; 
    text-align: center; 
}

/* Form styles */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center; 
}

.form-container label {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
}

.form-container input[type="text"] {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

.form-container button {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 300px;
    margin-top: 10px;
}

.weather-info {
    text-align: center; 
    margin-top: 30px; 
}

.weather-info p {
    font-size: 20px; 
    color: #333333; 
}

.weather-info .weather-icon {
    width: 80px; 
    height: 80px; 
    margin: 20px auto; 
}

.error {
    font-size: 18px; 
    color: #dc3545; 
    text-align: center; 
    margin-top: 20px; 
}

/* Add weather icons */
.weather-info i {
    font-size: 3em; /* set the font size of the icons */
    margin-bottom: 10px; /* add some bottom margin for spacing */
    color: #333; /* set the color of the icons */
}

/* Style weather icons based on weather condition */
.weather-info .fas.fa-sun {
    color: #FFD700; /* Yellow for sunny weather */
}

.weather-info .fas.fa-cloud-sun {
    color: #87CEEB; /* Blue for light clouds weather */
}

.weather-info .fas.fa-cloud {
    color: #A9A9A9; /* Gray color for heavy clouds weather */
}

.weather-info .fas.fa-cloud-showers-heavy {
    color: #708090; /* Slate gray color for rainy weather */
}

.weather-info .fas.fa-bolt {
    color: #FFA500; /* Orange color for thunders */
}

.weather-info .fas.fa-snowflake {
    color: #FFFFFF; /* White color for snow weather */
}

.weather-info .fas.fa-smog {
    color: #808080; /* Dark gray color for foggy weather */
}

.weather-info .fas.fa-question-circle {
    color: #333; /* Default color for unknown weather */
}

.return-btn {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #007bff;
    font-size: 16px;
}

.return-btn:hover {
    text-decoration: underline;
}
