<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form action="/weather" method="post" class="form-container">
            <label for="city">Enter city name:</label>
            <input type="text" id="city" name="city">
            <button type="submit">Get Weather</button>
        </form>
    </div>
</body>
</html>